html {
    background-color: cornflowerblue;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
}

textarea {
    width: 50%;
    font-family: 'Roboto', sans-serif;
    border: 3px solid gold;
    background: lightblue;
    border-radius: 5px;
}

textarea:hover {
    background-color: antiquewhite;
}

button {
    border-radius: 5px;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    height: 30px;
}

button:hover {
    background-color: gold;
}

#search {
    border: 2px solid gold;
    background: lightblue;
    border-radius: 5px;
}

#search:hover {
    background-color: antiquewhite;
}

#intro {
    margin: 0;
    font-size: large;
}

.vaciar {
    background-color: gold;
}

.vaciar:hover {
    background-color: rgb(239, 239, 239);
}

pre {
    font-family: 'Roboto',
        sans-serif;
    border-radius: 5px;
    border: 3px solid gold;
    background: lightblue;
    width: 300px;
    padding: 5px;
}

pre:hover {
    background-color: antiquewhite;
}

.logo {
    margin: 5px;
    position: absolute;
    top: 0;
    right: 0;
}

.logo:hover {
    filter: brightness(150%);
}
